Repository williamdouglascbfgxob974/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: true
  require_head: true
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false

ignore:
  - "**/tests/**"
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs"
  - "**/target/**"
  - "**/build.rs"

flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true

github_checks:
  annotations: true

ui:
  hide_density: false
  hide_complexity: false
  hide_contextual: false
  hide_sunburst: false
  hide_search: false

Add push and workflow_dispatch triggers (#229)
  .github/workflows/coverage.yaml
Due: none

Set up a pre-commit hook (#235)
  .pre-commit/.just
  .pre-commit/00-toolchain-version
  .pre-commit/01-cargo-check
  .pre-commit/02-cargo-clippy
  .pre-commit/03-cargo-nightly-fmt
  .pre-commit/04-cargo-nextest-build
  .pre-commit/05-cargo-nextest-run
  .pre-commit/06-md-lint
  .pre-commit/pre-commit
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/cli.md
  docs/guides/dag-construction.md
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-dag-builder.md
  docs/guides/math-branching-dag-entry.md
  docs/guides/math-branching-quickstart.md
  docs/guides/math-branching-with-chat.md
  docs/index.md
  docs/tool-development.md
  docs/toolkit-rust.md
  just/_helpers.just
  justfile
Due: none

fix codecov validation errors (#242)
  codecov.yml
Due: none

docs: add crypto setup guide (#245)
  docs/guides/setup.md
Due: none

fix: add --no-save for tool registration (#249)
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_register.rs
  docs/cli.md
Due: unittests, CLI Module

Extract code coverage to a specific action reusable in workflows (#248)
  .github/actions/coverage/action.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
Due: none

Make cli codecov information (#252)
  codecov.yml
Due: none

Fix the `cli/` separation in codecov config (#253)
  codecov.yml
Due: none

fix: support linked table in object crawler (#251)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/src/object_crawler/wrappers.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

feat: Set up a pre-commit hook (II) (#241)
  .pre-commit/.just
  .pre-commit/00-toolchain-version
  .pre-commit/07-check-shebang
  .pre-commit/08-check-just-shebang
  .pre-commit/09-typos
  .typos.toml
  cli/src/gas/gas_expiry_buy_ticket.rs
  just/_helpers.just
  sdk/src/crypto/session.rs
Due: unittests, CLI Module, SDK Module

Use "in workflow" file path filter instead of github built in "path" triggers (#255)
  .github/workflows/audit.yml
  .github/workflows/cli.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/detect_changes.yml
  .github/workflows/markdown_format.yml
  .github/workflows/sdk.yml
  .github/workflows/sync_docs.yml
  .github/workflows/toolkit-rust.yml
  .github/workflows/tools.yml
Due: none

docs: release process and versioning strategy (#256)
  CONTRIBUTING.md
  RELEASING.md
Due: none

feat(cli): add limited invocations gas ticket to CLI (#239)
  CHANGELOG.md
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/expiry/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/gas/tickets/limited_invocations/mod.rs
  cli/src/gas/tickets/mod.rs
  docs/cli.md
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

fix: markdown formatting (#258)
  RELEASING.md
Due: none

Trigger audit dependencies action on Pull request trigger (#260)
  .github/workflows/audit.yml
Due: none

Replace magic number with named constant in gas.rs (#244)
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

feat: add pre-commit check for docker (#261)
  .gitignore
  .pre-commit/.just
  .pre-commit/04-check-container-runtime
  .pre-commit/05-cargo-nextest-build
  .pre-commit/06-cargo-nextest-run
  .pre-commit/07-md-lint
  .pre-commit/08-check-shebang
  .pre-commit/09-check-just-shebang
  .pre-commit/10-typos
  .pre-commit/pre-commit
Due: none

Reduce code duplication in move object deserialization (object crawler) (#265)
  .pre-commit/.just
  sdk/Cargo.toml
  sdk/src/object_crawler/wrappers.rs
Due: unittests, SDK Module

docs: fix typo in "dependent" (#263)
  docs/toolkit-rust.md
Due: none

docs: fix broken Nexus SDK Rust toolkit link (#167)
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

feat(sdk): add identifiers to `tool_registry` allow list functions (#271)
  CHANGELOG.md
  cli/src/sui.rs
  sdk/src/idents/workflow.rs
  sdk/src/sui.rs
Due: unittests, CLI Module, SDK Module

docs: add note about tool registration allow list (#273)
  docs/guides/llm-openai-chat-prep-tool.md
Due: none

chore: bump to 0.2.0
  Cargo.lock
  Cargo.toml
  cli/src/tool/templates/rust/Cargo.toml.jinja
Due: unittests, CLI Module

chore: bump to 0.2.0-rc.9 (#274)
  Cargo.lock
  Cargo.toml
Due: none

Sync the pre-commit checks with what CI is doing (#267)
  .github/actions/cache/restore/action.yml
  .github/actions/cache/save/action.yml
  .github/actions/pre-commit/dependencies/action.yml
  .github/workflows/cli.yml
  .github/workflows/pre-commit_(PR).yml
  .github/workflows/pre-commit_(main).yml
  .github/workflows/sdk.yml
  .github/workflows/toolkit-rust.yml
  .github/workflows/tools.yml
  .pre-commit/.just
  .pre-commit/11-test-cli-completions
  .pre-commit/12-executable-scripts
  .pre-commit/pre-commit
  CHANGELOG.md
  cli/.just
  helpers/helpers.just
  helpers/npm-install-g.sh
  helpers/npm-install-g.txt
  just/_helpers.just
  sdk/.just
  toolkit-rust/.just
  tools/.just
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

Updated docs (#275)
  docs/cli.md
  docs/guides/math-branching-quickstart.md
Due: none

Chore: 0.2.0 (#276)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/src/events.rs
Due: unittests, CLI Module, SDK Module

remove arch mention from setup.md
  docs/guides/setup.md
Due: none

Revert "remove arch mention from setup.md"
  docs/guides/setup.md
Due: none

remove arch from setup guide (#279)
  docs/guides/setup.md
Due: none

required changes to setup.md for v0.2.0 (#280)
  docs/guides/setup.md
Due: none

chore: update issue templates (#286)
  .github/ISSUE_TEMPLATE/epic-template.md
Due: none

chore: Specify `nightly-2025-01-06` only once, if possible (#283)
  .nightly-version
  .pre-commit/.just
  .pre-commit/13-nightly-version
  CHANGELOG.md
  cli/.just
  helpers/helpers.just
  justfile
  sdk/.just
  toolkit-rust/.just
  tools/.just
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix: crypto init bug (#281)
  CHANGELOG.md
  cli/src/completion/mod.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/dag/dag_execute.rs
  sdk/src/object_crawler/wrappers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

chore: Update issue templates (#289)
  .github/ISSUE_TEMPLATE/epic-template.md
Due: none

feat(tool): Coinbase get-spot-price tool (#291)
  Cargo.lock
  tools/market-coinbase/Cargo.toml
  tools/market-coinbase/README.md
  tools/market-coinbase/src/coinbase_client.rs
  tools/market-coinbase/src/error.rs
  tools/market-coinbase/src/main.rs
  tools/market-coinbase/src/market/get_spot_price.rs
  tools/market-coinbase/src/market/mod.rs
  tools/market-coinbase/src/market/models.rs
Due: unittests, Tools

HTTP (any api) Tool (#296)
  Cargo.lock
  tools/http/Cargo.toml
  tools/http/README.md
  tools/http/src/errors.rs
  tools/http/src/http.rs
  tools/http/src/http_client.rs
  tools/http/src/main.rs
  tools/http/src/models.rs
  tools/http/src/utils.rs
Due: unittests, Tools

[0.3] Standardize `NexusData` ser/deser structure (#259)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  sdk/src/crypto/session.rs
  sdk/src/dag/validator.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, CLI Module, SDK Module

[0.3] add support for looping (#268)
  cli/src/dag/dag_inspect_execution.rs
  docs/guides/dag-construction.md
  sdk/src/dag/_dags/both_loops_valid.json
  sdk/src/dag/_dags/collect_without_for_each_invalid.json
  sdk/src/dag/_dags/do_while_and_break_same_variant_invalid.json
  sdk/src/dag/_dags/do_while_in_for_each_invalid.json
  sdk/src/dag/_dags/do_while_nested_invalid.json
  sdk/src/dag/_dags/missing_break_invalid.json
  sdk/src/dag/_dags/missing_do_while_invalid.json
  sdk/src/dag/_dags/nested_for_each_invalid.json
  sdk/src/dag/_dags/unclosed_for_each_invalid.json
  sdk/src/dag/validator.rs
  sdk/src/events.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/workflow.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/runtime_vertex.rs
  tools/math/README.md
  tools/math/src/i64/mod.rs
  tools/math/src/i64/sum.rs
  tools/math/src/main.rs
Due: unittests, CLI Module, SDK Module, Tools
