Repository williamdouglascbfgxob974/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

build: bump yanked crate `scc` (#297)
  Cargo.lock
Due: none

fix(sdk): check for successful faucet request with 2XX (#299)
  CHANGELOG.md
  sdk/src/test_utils/faucet.rs
Due: unittests, SDK Module

feat(tool): Coinbase get-product-ticker tool (#293)
  Cargo.lock
  tools/exchanges-coinbase/Cargo.toml
  tools/exchanges-coinbase/README.md
  tools/exchanges-coinbase/src/coinbase_client.rs
  tools/exchanges-coinbase/src/error.rs
  tools/exchanges-coinbase/src/main.rs
  tools/exchanges-coinbase/src/tools/get_product_ticker.rs
  tools/exchanges-coinbase/src/tools/get_spot_price.rs
  tools/exchanges-coinbase/src/tools/mod.rs
  tools/exchanges-coinbase/src/tools/models.rs
  tools/market-coinbase/README.md
  tools/market-coinbase/src/market/mod.rs
  tools/market-coinbase/src/market/models.rs
Due: unittests, Tools

Regular update
  tools/exchanges-coinbase/README.md
Due: unittests, Tools

Regular update
  docs/guides/math-branching-quickstart.md
Due: none

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs
